.container{
    display: flex;
    
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

h1{
    display: flex;
    margin-left: 100px;
    
    
    /* flex-direction:row; */
    /* margin-left: auto ; */
}

h2{
    
    display: inline;
    margin: 20px;
    margin-right: 100px;
    
    /* flex-direction:row; */
    /* margin-right: auto; */
}
a{  color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(115, 255, 0);
}

.seach-box{
    width: 150px;
    margin-right: 100px;
    border-radius: 20px;
    border : 2px solid darkblue;
    text-align: center;
}