.center{
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
    
}

.center h1{
    display: flex;
    font-size: 80px;
    color: chartreuse;

}

.center h4{
    display: flex;
    
}

